<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<title>Моя первая веб-страница</title>
</head>

<body>
<div align=center>
  <h2>Моя первая страница</h2>
  <br>
  <h1>Весенняя гроза!</h1>
  <p>Люблю грозу в начале мая,
    Когда весенний, первый гром,
    как бы резвяся и играя,
    Грохочет в небе голубом.
    
    Гремят раскаты молодые,
    Вот дождик брызнул, пыль летит,
    Повисли перлы дождевые,
    И солнце нити золотит.</p>
</div>
</body>

</html>