{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
    <link rel="stylesheet" href="{%  static 'styles/check.css'%}">
</head>
<body>
    <section>
        <div class="create_conteiner">
            <input class="create_input" type="text" placeholder="Напиши сюд новую задачу">
            <button class="create_button">Добавить</button>
        </div>
        <div class="todo_conteiner">
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    <h4>купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                     <p>17.11.20  <span>21:32</span></p>
                     <div class="icon">
                       <img src="star.png" alt="">
                       <img src="del.png" alt="">
                     </div>
                </div>
            </div>
            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    <h4>купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                     <p>17.11.20  <span>21:32</span></p>
                     <div class="icon">
                       <img src="star.png" alt="">
                       <img src="del.png" alt="">
                     </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    <h4>купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                     <p>17.11.20  <span>21:32</span></p>
                     <div class="icon">
                       <img src="star.png" alt="">
                       <img src="del.png" alt="">
                     </div>
                </div>
            </div>
            <div class="todo_item marked" >
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    <h4>купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                     <p>17.11.20  <span>21:32</span></p>
                     <div class="icon">
                       <img src="star.png" alt="">
                       <img src="del.png" alt="">
                     </div>
                </div>
            </div>
            <div class="todo_item ">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    <h4>купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                     <p>17.11.20  <span>21:32</span></p>
                     <div class="icon">
                       <img src="star.png" alt="">
                       <img src="del.png" alt="">
                     </div>
                </div>
            </div>
            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    <h4>купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                     <p>17.11.20  <span>21:32</span></p>
                     <div class="icon">
                       <img src="star.png" alt="">
                       <img src="del.png" alt="">
                     </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>